body{
    font-size: 15px;
    padding-top: 100px;
    color: hsla(0, 0%, 100%, 0,75);
}

   /*containers*/
.w{
    width: 45%;
}   
.sedans{
    background: hsl(31, 77%, 52%);
    border-radius: 20px 0 0 20px;
}
.suvs{
    background: hsl(184, 100%, 22%);
}
.luxury{
    background: hsl(179, 100%, 13%);
    border-radius: 0 20px 20px 0;
}
     /*paragrafos e titulos*/
p {
    color: #ffffff;
}
h1{
    color: 	#f2f2f2;
}